:root {
  --margin-bottom: 10px;
  --label-padding-right: 20px;
  --label-width: 200px;
  --widget-width: 250px;
  --border-radius: 4px;
  --main-padding: 30px;
  --input-text-size: 14px;
  --color-main: #5D6063;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-main);
  background-color: rgb(182, 219, 255);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  text-align: center;
  background-color: rgb(241, 238, 238);
  border: 1px solid rgb(186, 189, 190);
  border-radius: var(--border-radius);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 25px 0;
  padding: var(--main-padding);
}

/* **************** FORM STYLING **************** */

.form-container {
  background-color: rgb(241, 238, 238);
  border: 1px solid rgb(186, 189, 190);
  border-radius: var(--border-radius);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  padding: var(--main-padding);
}

/* **************** INPUT STYLING **************** */

.form-control {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-control input[type='text'],
.form-control input[type='email'] {
  border-radius: var(--border-radius);
  color: var(--color-main);
  font-size: var(--input-text-size);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(186, 189, 190);
  padding: 7px;
  width: var(--widget-width);
}

.form-control input[type='email']:invalid {
  border: 1.5px solid rgb(212, 53, 56);
  color: rgb(212, 53, 56);
  box-shadow: none;
}

.form-control label {
  margin-bottom: 20px;
  padding-right: var(--label-padding-right);
  text-align: right;
  margin-top: 5px;
  width: var(--label-width);
}

.form-header,
.form-container {
  width: 600px;
}

/* **************** RADIO BUTTON STYLING **************** */

.radio-form-control {
  border: none;
  margin-bottom: var(--margin-bottom);
}

.radio-form-control .radio-label {
  font-size: --var(--input-text-size);
  padding: 2px 20px 0 4px;
}

.radio-form-control legend {
  width: var(--label-width);
  padding-right: var(--label-padding-right);
  text-align: right;
  float: left;
}

/* **************** DROPDOWN MENU STYLING **************** */

.form-control select {
  padding: 5px;
  font-size: 14px;
  width: var(--widget-width);
}

/* **************** TEXTAREA STYLING **************** */

.form-control textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  border: 1px solid #D6D9DC;
  border-radius: var(--border-radius);
  min-height: 100px;
  margin-bottom: var(--margin-bottom);
  padding: 10px;
  width: var(--widget-width);
}

.form-control .description {
  color: #999;
  font-size: 14px;
  margin-bottom: var(--margin-bottom);
  margin-left: var(--label-width);
}

/* **************** CHECKBOX STYLING **************** */

.form-control .checkbox-label {
  margin-left: var(--label-width);
  width: auto;
}

/* **************** SUBMIT BUTTON STYLING **************** */

.form-btn {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: rgb(231, 2, 2);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 40px;
  cursor: pointer;
  margin-left: var(--label-width);
}

.form-btn:hover {
  background-color: rgb(255, 30, 30);

}